@charset "utf-8";
* {
  margin:0;
  padding:0;
}

a {color:#123123;
   -webkit-transition: color 0.8s ease;
   -moz-webkit-transition: color 0.8s ease;
   -o-transition: color 0.8s ease;}

a:hover{color:#111;
        -webkit-transition: color 0.8s ease;
        -moz-webkit-transition: color 0.8s ease;
        -o-transition: color 0.8s ease;}

body{
  font-family:Verdana, Helvetica Neue,Hei,Arial,sans-serif;
  color:#000;
  font-size:1em;
  padding:0px;
  background:#f7f7f7;
}

header {
  display: block;
  margin:auto;
  height:200px;
  background:#ddd;
  /*background:url("http://datacom.ru/pskov/img/logo2.gif") no-repeat bottom right;*/
}

header h1 a{
  margin:20px 0;
  padding:20px;
  position:absolute;
  color:#000;
  text-decoration:none;
  text-shadow: #fff 1px 1px 2px, #333 0 0 0.6em;
  filter: Shadow(Color=#fff, Direction=45, Strength=4);
}

header h1 a:hover{

  margin:20px 0;
  padding:20px;
  position:absolute;
  color:#000;
  text-decoration:none;
  text-shadow: #fff 1px 1px 2px, #333 0 0 0.6em;
  filter: Shadow(Color=#fff, Direction=45, Strength=4);
}

header h2 {
  margin:90px 0;
  padding:20px;
  position:absolute;
  color:#000;
  text-decoration:none;
  text-shadow: #fff 1px 1px 2px, #333 0 0 0.6em;
  filter: Shadow(Color=#fff, Direction=45, Strength=4);
}

header p {
  position:absolute;
  margin:190px 12px;
}


nav {
  height:50px;
  width:100%;
  /* background:#333 url("http://gimp-id-photo.ru/images/nav_bg.png") repeat-x; */
  background:#333;
  display:block;
  position:relative;
  z-index:1;
  -webkit-box-shadow:#000 0px 0px 8px;
  -moz-box-shadow:#000   0px 0px 8px;
  box-shadow:#000        0px 0px 8px;
  text-align:center;
}

nav ul {
  margin:0px auto;
  padding:8px;
  list-style-type: circle;
}

nav ul li {
  float:left;
  margin:6px 6px;
  overflow: hidden;
  white-space: nowrap;
}

nav ul li:after {
  padding:0px 6px;
  color:#eee;
  content:'→';
  float:right;
}

nav ul li a{
  font: normal 1.1em/1.1em Verdana;
  color:#eee;
  -webkit-transition: color 1s ease;
  -moz-webkit-transition: color 1s ease;
  -o-transition: color 1s ease;
  text-decoration: none;
  padding-bottom: 5px;
  display:block;
  border-bottom: 1px solid #eee;
  float:left;

}

nav ul li a:hover{
  color:#fff;
  -webkit-transition: color 0.2s ease;
  -moz-webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}



.login_failed {
  background: #f1ce78;
  border: 1px solid #f69b52;
}

.notice {
  background: #e2d6d6;
  border: 1px solid #888181;
}

.up {
  background: #9af185;
  border: 1px solid #26a009;
}

.down {
  background: #f68c8c;
  border: 1px solid #f60d0d;
}

.loop {
  background: #ca28b0;
  border: 1px solid #751767;
}


.host_name {
            float: left;
            max-width: 900px;
            /*min-width: 500px;*/
            overflow-x: hidden;
            border-radius: 5px 5px 0 0;
            font: bold 15px Verdana, Arial, Helvetica, sans-serif;
            border-bottom: 0;
            padding: 3px 7px 4px;
            margin:5px 0px -2px 5px;
            position: relative;
            display: block;
            top: -1;
            bottom: 0;
            left -1px;
            z-index: 10;
           }

.message_body{
              clear: left;
              border-radius: 0 5px 5px 5px;
              font: 14px Verdana, Arial, Helvetica, sans-serif;
              padding:3px 7px 4px;
              margin:0px 5px 5px 5px;
              min-height: 10px;
              position: relative;
              z-index: -10;              
              }

.go_telnet {margin:3px 0 -2px 4px;}

.rayon {
   font: bold serif;
   color: #cf302b;
   border:1px solid;
   border-radius: 5px;
   padding:3px;
}


 #grepKeyword, #settings {
   font-size: 80%;
 }

 #results {margin:50px 0 0 0;}

 .float{
  z-index:100;
  position: fixed;
  width: 100%;
  top: -200px;
  left: auto;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

 }

.float:hover{
   -webkit-transform: translateY(200px);
   -moz-transform: translateY(200px);
   -o-transform: translateY(200px);
   transform: translateY(200px);
}



footer {
  display:block;
  position:absolute;
  width:100%;
  border-top:1px inset #888;
  background:#111;
  color:#fff;
  font-size:0.8em;
}

footer p{
  margin-bottom:10px;
  color:#ccccce;
}

footer ul {
  display:block;
  width:auto;
  margin:30;
  list-style-type:none;
}

footer ul  li {
  display: inline;
  margin:0 15px;
}

footer form {
  position:absolute;
  right:0px;
  float:left;
  margin:30px;
}

.copyright {
  float:left;
  margin:30px;
}

.copyright strong {
  font-weight:normal;
}
